.hero{
    background: linear-gradient(to right, rgba(0,0,0,.65) 0%,rgba(0, 0, 0, 0) 60% ),
 url(/assets/images/ChatGPT\ Image\ Jul\ 31\,\ 2026\,\ 09_29_46\ PM.png);
    background-position: center;
    background-size: cover;
    min-height: calc(100dvh - 5rem);
    display: flex;
    position: relative;
    
}

.badge{
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    border-radius: 999px;
    padding: .8rem 1.2rem;
    font-weight: 700;
    font-size: clamp(.5rem, 2vw, .8rem);
    margin-bottom: 2rem;
}

.hero-wrapper{
    display: flex;
    align-items: center;
}

.hero-container{
    max-width: 500px;
    width: 100%;
}

.hero-heading{
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    line-height: 1.15;
    font-weight: 800;
    color: var(--accent-color)
}

.supporting-text{
    font-size: clamp(1rem, 4vw, 1.2rem);
    color: white;
}

.hero-btn-container{
    min-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    gap: clamp(2rem, 4vw, 4rem);
    
}

.cta-btn{
    background-color: var(--accent-color);
    border-radius: 999px;
    text-align: center;
    padding: 1rem 2rem;
    font-size: clamp(.8rem, 3vw, 1.2rem);
    font-weight: 800;
}